<div class="jumbotron"  ng-init="ctrl._initBody()">
  <h2 class="text-center first-label">Simple UUID Generator</h2>
  <div class="gap-block center-block"></div>

  <div class="center-block" style="height:23px;">
    <span ng-if="ctrl.isCopied" class="center-block text-center animate-if" role="alert">Copied!</span>
  </div>

  <p class="text-center is-label">Generated UUID version 4:</p>
  <h3 class="text-center has-label animate-block" ng-class="ctrl.isCopied?'glowing-border':''">
    {{ctrl.uuid}}
    <button ng-if="ctrl.uuid"
          ngclipboard
          data-clipboard-text="{{ctrl.uuid}}"
          ngclipboard-success="ctrl.uuidCopied(e)"
          class="btn btn-default"
          type="submit">
      <span class="glyphicon glyphicon-copy"></span>
    </button>
  </h3>

  <div class="gap-block"></div>
  <button class="btn btn-primary btn-lg center-block" type="submit" ng-click="ctrl.generateUuid()">
    <span class="glyphicon glyphicon-flash"></span> Generate another
  </button>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

<div class="row">
  <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
    <h4>What is UUID?</h4>
    <p><a href="https://en.wikipedia.org/wiki/Universally_unique_identifier" target="_blank">Universally unique identifier</a></p>
    <p><a href="https://segment.com/blog/a-brief-history-of-the-uuid/" target="_blank">A Brief History of the UUID</a></p>
    <p><a href="https://news.ycombinator.com/item?id=14508413" target="_blank">A Brief History of the UUID</a></p>

    <!--<h4>Standards</h4>
    <p><a href="http://pubs.opengroup.org/onlinepubs/9629399/apdxa.htm">Universal Unique Identifier</a></p>
    <p><a href="http://www.itu.int/rec/T-REC-X.667-200409-S/en">Generation and registration of Universally Unique Identifiers</a></p>
    <p><a href="https://tools.ietf.org/html/rfc4122">A Universally Unique IDentifier (UUID) URN Namespace</a></p>-->
  </div>

  <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
    <h4>Using this UUID to</h4>
    <p>
      <span class="link-icon"><img src="app/uuid/ico/appearin-196x196.png" alt="appear.in" /></span>
      <a href="https://appear.in/{{ctrl.uuid}}" target="_blank">
        appear.in
      </a>
    </p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
  </div>
</div>

  </div>
</div>

<hr>
<footer class="footer">
  <p>&copy; 2017 <a href="https://mjunaidi.github.io/" target="_blank">M Junaidi</a>, All Rights Reserved.</p>
</footer>
